{% extends 'shop/basic.html' %}

     {% block body %}
    {% load static %}

 <div id="Container"
 style="padding-bottom:43.25%; position:relative; display:block; width: 100%">
 <iframe id="ViostreamIframe"
  width="100%" height="100%"
  src="https://app.powerbi.com/view?r=eyJrIjoiZmI4YzZlMDktNjg4ZS00MzJiLTllOWUtMzNkOGYzNWI3ZjdmIiwidCI6ImMxM2U1MTgxLTlkMTItNDIwYS04MmNjLTBkMWRlODU2ZDY2YiJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"
  frameborder="0" allowfullscreen=""
  style="position:absolute; top:0; left: 0"></iframe>
</div>

{% endblock %}